@font-face {
    font-family: NasalizationRg-Regular; /* Гарнитура шрифта */
    src: url(../fonts/NasalizationRg-Regular.woff2); /* Путь к файлу со шрифтом */
}
.header {
    position: relative;

    background-image: url(../img/fon2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header::after {
    content: "";
    position: absolute;
    opacity: 0.50;
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: NasalizationRg-Regular;
    background-image: url(../img/fon\ blue\ верт\ проз1.png)
}
.logo {
    z-index: 1;
    position: relative;
}
.asou {
    width: 200px;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
}
.menu_list {
    list-style-type: none;
    font-size: 35px;
    color: #fff;
    /**font-family: Arial, Helvetica, sans-serif;**/
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
.menu_item {
    z-index: 1;
}
.menu_item {
    margin-right: 5%;
}
.photo {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 690px;
}
h1 {
    position: relative;
    color: #fff;
    z-index: 1;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    justify-content: center;
}
.about {
    width: 98%;
    padding: 1%;
}
.icon_about{
    width: 80px;
}
.flex {
    display: flex;
    flex-direction: column;
}
h2 {
    display: flex;
    justify-content: center; 
    margin-bottom: 15px;  
    font-size: 40px;
}
.border {
    border-bottom: 3px solid #1d3252;
    margin: 5px 45%;
}
.text_about {
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.abouts {
    display: flex;
    margin: 20px;
    width: 75%;
    color: #000000;
    font-weight: bold;
    font-family: georgia;
}
.decoration_about {
    margin: 10px;
}
.goal {
    display: flex;
    flex-direction: column;
}
.text_goal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.goals {
    color: #000000;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
    width: 75%;
    display: flex;
    font-family: georgia;
}
.align-items {
    display: flex;
    align-items: center;
}
a {
    color: #eb7d3b;
    text-decoration: none;
}
.decoration_goals {
    margin: 10px;
}
.table {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #fff;
    margin-left: 10px;
    border: 5px solid #1d3252;
    width: calc(88% + 60px);
    min-height: 240px;
    background-color: #eb7d3b;
}
.one {
    width: 20%;
    min-height: 220px;
    background-color: #eb7d3b;
}
.table_border {
    display: flex;
    justify-content: center;
}
.icon {
    width: 100px;
}
.headers {
    display: flex;
    justify-content: center;
}
.buttons {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #1d3252;
    width: 150px;
    justify-content: center;
    border-radius: 25px;
}
.decor_button {
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 10px 0;
}
.flex_table {
    display: flex;
    justify-content: center;
}
.text_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.projectik {
    color: #fff;
    margin-left: 10px;
    width: 45%;
    margin-top: 10px;
    min-height: 300px;
    font-size: 30px;
    background-image: url(../img/blue.jpg);
    border: 5px solid #eb7d3b;
    font-family: georgia;
}
.decoration_project {
    margin: 10px;
}
footer {
    background-color: #1d3252;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.copyright_contacts{
    display: flex;
    flex-direction: column;
}
.contacts {
    margin-left: 100px;
}
.information {
    margin: 5px;
}
.contacts {
    font-size: 50px;
    margin: 0;
}
.icon_card__contact {
    width: 60px;
}
nav {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.card__contact {
    display: flex;
}
.border_list {
    position: relative;
    z-index: 1;
}
.lawr_list_one {
    width: 100px;
}